<div class="flex flex-col">
<header class="sticky top-0 left-0 right-0 ">
  <nav class="flex items-center justify-between flex-wrap bg-white p-6 font-poppins">

      <div class="flex items-center flex-shrink-0 text-red-900 mr-6 cursor-pointer">
        <span class="text-xl tracking-tight" [routerLink]="'.'" (click)="navbarOpened = false">dance with me</span>
      </div>

    <div class="flex flex-row-reverse space-x-0.25 space-x-reverse inset-y-0 left-0">

      <button class="items-center rounded-md text-slate-300" type="button" (click)="toggleNavbar()" >
        <button class="flex items-center py-2 rounded text-red-900">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </button>

      <button class="bg-white px-3 text-sm text-gray-200" (click)="toggleLanguage()">{{language}}</button>

    </div>
  </nav>

  <div fxFlex class="top-navbar">
  <ul class="align-content-center leading-10 font-poppins text-red-900">
    <div *ngIf="authService.isAuthenticated(); then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <li *ngIf="userService.role === 'Organiser' || userService.role === 'Admin'" class="text-center">
        <a class="nav-link" [routerLink]="'/create'" (click)="toggleNavbar()">{{'navbar.create_event' | translate}}</a>
      </li>
      <li class="text-center">
        <a class="nav-link" [routerLink]="'/events'" (click)="toggleNavbar()">{{'navbar.events' | translate}}</a>
      </li>
      <li class="text-center">
        <a class="nav-link" [routerLink]="'/user'" (click)="toggleNavbar()">{{'navbar.profile' | translate}}</a>
      </li>
      <li class="text-center">
        <a class="nav-link" [routerLink]="'.'" (click)="toggleNavbar(); authService.logout()">{{'navbar.logout' | translate}}</a>
    </ng-template>
    <ng-template #elseBlock>
      <li class="text-center">
        <a class="nav-link" [routerLink]="'/loginSite'" (click)="toggleNavbar()">{{'navbar.login' | translate}}</a>
      </li>
    </ng-template>
  </ul>
  </div>
</header>


<main class="flex-1">
  <router-outlet></router-outlet>
</main>

<footer class="bottom-0 text-center bg-gray-900 text-white font-poppins">
  <div class="p-6 flex items-center flex-shrink-0 mr-6">
    <span class="text-xl tracking-tight" [routerLink]="'.'">dance with me</span>
  </div>
  <div class="px-6 container text-gray-400 text-sm">
    <div class="flex mb-6 space-x-5">
      <a class="nav-link" [routerLink]="'/about'">{{'about.about_link' | translate}}</a>
      <a class="nav-link" [routerLink]="'/legal'">{{'legal_link' | translate}}</a>
      <a class="nav-link" [routerLink]="'/privacy'" >{{'privacy_link' | translate}}</a>
    </div>
  </div>

  <div class="text-sm p-4 text-gray-700 bg-gray-900">
    © 2021 Copyright:
    <a class="text-gray-700">Dance with me</a>
  </div>
</footer>

</div>



