GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

FACEBOOK_CLIENT_ID=''
FACEBOOK_CLIENT_SECRET=''

POSITION_STACK_SECRET_ACCESS_KEY=''
POSITION_STACK_FORWARD_ENDPOINT=''
POSITION_STACK_REVERSE_ENDPOINT=''

DANCE_WITH_ME_EMAIL=''
DANCE_WITH_ME_EMAIL_ORGANIZER=''
NOMINATIM_FORWARD_ENDPOINT=''
NOMINATIM_REVERSE_ENDPOINT=''
