<div class="m-0 justify-center flex flex-col gap-2 space-x-2 bg-white w-full">
  <div class="m-0 justify-center flex space-x-2 w-full">
    <span *ngIf="recommendation; else noRecommendation"
          class="material-symbols-outlined icon-big-recommend cursor-pointer" (click)="getEvents()">tune</span>
    <ng-template #noRecommendation>
      <span class="material-symbols-outlined icon-big cursor-pointer" (click)="getRecommendation()">tune</span>
    </ng-template>
    <span [routerLink]="'/map'" class="material-symbols-outlined icon-big cursor-pointer">map</span>
    <span [routerLink]="'/search'" class="material-symbols-outlined icon-big cursor-pointer">search</span>
  </div>
  <div class="justify-center flex space-x-2 w-full">
    <label for="radius" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Radius {{this.radius / 1000}}km
    </label>
    <input type="range" min="1" max="100" value="10" class="slider" id="radius" (change)=radiusChanged($event)>
  </div>
</div>


<div class="font-poppins w-full mt-10">
  <ul class="text-gray-900">
    <li class="py-0.5 border-b border-gray-200" *ngFor="let event of events">
      <div [routerLink]="['/event', event.id]" class="flex items-center space-x-4 grid grid-cols-6 gap-1">

        <img *ngIf="event.imageId !== undefined; else noPicture" class="col-span-2 mt-0.25 object-fill h-full w-full" [src]="event.image" referrerpolicy="no-referrer" alt="image of the event">
        <ng-template #noPicture>
          <img class="col-span-2 mt-0.25 object-fill h-full w-full " src="assets/img/dance.jpg" alt="dancing woman - default image">
        </ng-template>

        <div class="ml-5 mt-5 mb-3 flex col-span-4 flex-col space-y-0.5 ">
          <div class="grid grid-cols-4 gap-4">
            <p class="col-span-3 inline-flex text-m mb-2 font-medium text-gray-900 ">
              {{event.name}}
            </p>
            <span *ngIf="event?.userParticipates"
                  class="material-symbols-outlined col-span-1 inline-flex text-m pt-0 place-self-top attend"
                  (click)="onAttendClicked(event)">event_available</span>
            <span *ngIf="!event?.userParticipates" class="material-symbols-outlined text-m mt-0 mr-0 place-self-start"
                  (click)="onAttendClicked(event)">calendar_add_on</span>
          </div>

          <div class="flex mt-4 mr-2 space-x-2 ">
            <span class="small material-icons-outlined">location_on</span>
            <p class="inline-block text-sm text-gray-500 dark:text-gray-400">
              {{event.address?.street}} {{event.address?.housenumber}}, {{event.address?.postalcode}} {{event.address?.city}}
            </p>
          </div>

          <div class="flex mt-4 space-x-2 ">
            <span class="material-icons-outlined">schedule</span>
            <p class="inline-flex text-sm text-gray-500 truncate dark:text-gray-400">
              {{event.startDateTime?.toLocaleString()}}
            </p>
          </div>

            <ul class="mt-10 mb-5">
              <li  *ngFor="let singleCategory of event.category" class="inline-block px-0.5 mt-2">
                <span translate class="px-2 py-1 rounded-full border border-gray-300 text-gray-500 text-sm align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
                    eventCategory.{{singleCategory}}
                </span>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
