.material-icons-outlined {
  color: grey;
  font-size: large;
  font-weight: 5;
}

span.icon-big-recommend {
  font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 24

}

span.icon-big {
  color: black;
  font-size: x-large;
  font-weight: lighter !important;
}

span.attend {
  font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 200,
    'opsz' 24
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 200,
    'opsz' 40
}
