<img *ngIf="hasPicture; else noImageFound" class="object-fill h-60 w-full " [src]="picture">
<ng-template #noImageFound>
  <img class="object-top object-cover h-60 w-full " src="assets/img/dance.jpg">
</ng-template>

<div *ngIf="event$ | async as event" class="m-5 flex flex-col space-y-2 h-full font-poppins ">

  <div class="relative" >
    <div @moveIn *ngIf="showAlert" class="absolute top-0 left-0 right-0 bg-blue-100 border-blue-500 text-blue-700 px-4 py-3 m-auto inline-flex" role="alert">
      <span class="material-icons text-blue-400 text-3xl mr-2">info</span>
      <span class="font-bold text-blue-400 mt-auto mb-auto" translate >eventDetail.copied</span>
    </div>
  </div>

  <div class="grid grid-cols-5 gap-4">
    <h1 class="col-span-4 text-l mb-2 font-light text-gray-900">
      {{event?.name}}
    </h1>
    <span *ngIf="userParticipates" class="material-symbols-outlined inline-block align-top text-m pt-0 mr-5 attend " (click)="onAttendClicked(event)">event_available</span>
    <span *ngIf="!userParticipates" class="material-symbols-outlined inline-block align-top text-m pt-0 mr-5" (click)="onAttendClicked(event)">calendar_add_on</span>
  </div>

  <div class="flex mt-4 space-x-2">
    <span class="small material-icons-outlined text-gray-400">location_on</span>
    <p class="inline-flex text-sm text-gray-800 truncate dark:text-gray-700">
      <a href="https://www.google.com/maps/search/?api=1&query={{event.location.latitude}}%2C{{event.location.longitude}}" class="underline">
        {{event?.address?.street}} {{event?.address?.housenumber}}, {{event?.address?.postalcode}} {{event?.address?.city}}
      </a>
    </p>
  </div>

  <div class="flex mt-4 space-x-2 ">
    <span class="material-icons-outlined text-gray-400">schedule</span>
    <p class="break-normal inline-flex text-sm text-gray-800 dark:text-gray-700">
      {{event?.startDateTime?.toLocaleString()}} - {{event?.endDateTime?.toLocaleString()}}
    </p>
  </div>

  <div class="flex mt-4 space-x-2 ">
    <span class="material-icons-outlined text-gray-400">payments</span>
    <p class="break-normal text-sm text-gray-800 dark:text-gray-700">
      {{event?.price}} €
    </p>
  </div>

  <div class="flex mt-8 space-x-2 mr-5">
    <span class="material-icons-outlined text-gray-400 font-extralight text-sm">description</span>
    <p class="break-normal text-sm text-gray-800 dark:text-gray-700">
      {{event?.description}}
    </p>
  </div>

  <div class="flex mt-8 space-x-2 mr-5">
    <span class="material-icons-outlined text-gray-400 font-extralight text-sm">person</span>
    <p class="break-normal text-sm text-gray-800 dark:text-gray-700">
      {{event?.organizerName}}
    </p>
  </div>

  <ul class="mt-10 mb-10">
    <li *ngFor="let singleCategory of event!.category" class="inline-block px-0.5 mt-2">
      <span translate class="px-2 py-1 rounded-full border border-gray-300 text-gray-500 text-sm align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
          eventCategory.{{singleCategory}}
      </span>
    </li>
  </ul>


  <button (click)="copyMessage()"
          translate
          class="bg-transparent border-white hover:bg-red-900 text-red-900 font-semibold hover:text-white py-2 px-4 border hover:border-transparent rounded">
    eventDetail.share
  </button>

</div>
