.material-icons-outlined {
  font-size: large;
  font-weight: 5;
}

 .material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 100,
     'GRAD' 200,
     'opsz' 24
 }

 span.attend {
   font-variation-settings:
     'FILL' 1,
     'wght' 200,
     'GRAD' 200,
     'opsz' 24
 }

